html,body{
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
}

#app{
  margin: 0;
  padding: 0;

  width: 100%;
  height: auto;
}

:root {
  --GrisFoncer: #423a3a;
  --GrisClaire:#d9d9d9;

  --noirBalise:#090808;
  --noirBalise2:#1d1008;
  --mainOrange:#E65E09;
}
